<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.tvd12"/>
        <listEntry value="archetypeArtifactId=maven-simple-archetype"/>
        <listEntry value="archetypeVersion=1.0.2"/>
        <listEntry value="groupId=minh"/>
        <listEntry value="artifactId=leetcodesync"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=minh.leetcodesync"/>
        <listEntry value="outputDirectory=/Users/huyhoangminhcu/project/leetcodesync"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/ml/zzxbwf_52yb_33v9n3jmw24c0000gn/T/m2e-archetypeGenerator6177816675135718193"/>
</launchConfiguration>
